.gridContainer {
    box-sizing: border-box;
    width : 720px;
	height : 720px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin : 20px auto;
}
body {
	text-align: center;
}
